#root {
    display: flex;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 !important;
}

.wrapper {
    width: 1324px;
    margin: 0 auto;

    &:has(.chat-page) {
        width: 100%;
    }
}

.container {
    margin: 0 !important;
    padding: 0 !important;
}

.row, .col {
    margin: auto 0 !important;
    padding: 0 !important;
}

.nav-link {
    color: #8AB4F8 !important;

    &:hover {
        color: #488eff !important;
    }
}