body {
    height: 100vh;
}

#root {
    display: flex;
    flex-wrap: wrap;
    background-color: $super-light-gray;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 !important;
}

.wrapper {
    width: 1324px;
    margin: 0 auto;
    background-color: $super-light-gray;
    position: relative;

    @media (max-width: 1324px) {
        width: 100%;
    }

    &:has(.wrapper-profile),
    &:has(.wrapper-user-interactions),
    &:has(.chat-page),
    &:has(.error-page) {
        flex: 1;
    }

    &:has(.error-page) {
        height: calc(100vh - 75px);
    }
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 3px solid #5D6BE4;
}

.container {
    margin: 0 !important;
    padding: 0 !important;
}

.row,
.col {
    margin: 0 !important;
    padding: 0 !important;
}

.nav-link {
    color: #8AB4F8 !important;

    &:hover {
        color: #488eff !important;
    }
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 2s ease-in;
}