// Russo One font
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

// Lexend font
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

// Manrope font
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

// Mitr font
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
// .mitr-extralight, .mitr-light, .mitr-regular, 
// .mitr-medium, .mitr-semibold, .mitr-bold

$main-font: 'Manrope', sans-serif;
$secondary-font: 'Mitr', sans-serif;

$primary-color: #3D00FF;
$light-gray: #8F8F8F;
$dark-gray: #373737;
$super-light-gray: #E8ECEE;
$green: #7FFF31;
$red: #E64646;

$primary-button: #5D6BE4;
$secondary-btn: #929292;