.default-header {
    background-color: #ffffff;
    position: relative;
    left: 0;
    top: 0;
    height: 100vh;
    width: 244px;
    border-right: 1px solid #8f8f8f;
    font-family: $main-font;

    &.closed {
        width: 69px;
    }
    .logo-container {
        margin-top: 45px !important;
    }

    .list-group {
        border: none;
        margin-top: 35px;

        .list-group-item {
            height: 56px;
            border: none;
            padding: 0;
            margin: 0;
            border-radius: 0;
            cursor: pointer;
            display: flex;
            padding-left: 21px;
            align-items: center;
            justify-content: flex-start;
            &.opened {
                justify-content: flex-start;
                padding-left: 21px;
            }
            &:hover {
                background-color: #f4f4f4;
            }

            &.dropdown-container {
                margin-top: auto;
                margin-bottom: 35px;
                button {
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    margin: 0;

                    &[aria-expanded="true"] {
                        .more-icon > path {
                            stroke: $primary-color;
                            stroke-width: 3.5;
                        }
                    }

                    &::after {
                        display: none;
                    }
                }
            }
            span {
                display: block;
            }
        }
        .list-group-item p, .dropdown-container p {
            font-weight: 500;
            font-size: 16px;
            display: none;
            padding-left: 16px;
        }
    }
}


