.header {
    background-color: #ffffff;
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    height: 100vh;
    width: 244px;
    min-width: 244px;
    border-right: 1px solid $light-gray;
    font-family: $main-font;
    overflow: hidden;

    @media (max-width: 1565px) {
        @include closed-header;
    }

    @media (max-width: 520px) {
        @include mobile-header;
    }

    &.closed {
        @include closed-header;
    }

    &.hidden {
        display: none !important;
    }

    &:not(.authorized) {
        @include mobile-header;

        .logo-block {
            margin: 0 auto !important;

            .burger-menu {
                display: none !important;
            }
        }
    }

    .burger-exit {
        display: none;
        width: 60px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 15;

        button {
            width: 100%;
            height: 100%;
            background-color: rgba(217, 217, 217, .2);
            border: none;

            svg {
                width: 23px;
                height: 23px;
            }
        }
    }

    .logo-block {
        min-height: 75px;
        height: 75px;
        padding-top: 45px;
        padding-left: 15px;
        
        .logo-container {
            width: fit-content;
        }

        .burger-menu {
            display: none;
            align-self: center;

            button:hover {
                background-color: $super-light-gray;
            }
        }

        .logo-text {
            p {
                display: flex;
                align-items: center;
                color: #000;
                text-decoration: none;
                font-family: 'Russo One', sans-serif;
            }

            p:first-child {
                font-size: 28px;
                height: 28px;
                letter-spacing: 6px;
            }

            p:last-child {
                font-size: 16px;
                margin-top: 5px;
                height: 19px;
            }
        }
    }

    .list-group {
        border: none;
        margin-top: 35px;

        .list-group-item {
            height: 56px;
            border: none;
            padding: 0;
            margin: 0;
            border-radius: 0;
            cursor: pointer;
            display: flex;
            padding-left: 21px;
            align-items: center;
            justify-content: flex-start;
            
            &.active {
                background-color: $light-purple !important;
            }

            &:hover {
                background-color: $light-purple;
            }

            p {
                color: $dark-gray;
                font-weight: 500;
                font-size: 16px;
                padding-left: 16px;
            }

            &.more-link {
                margin-top: auto;
                margin-bottom: 35px;

                button {
                    background-color: transparent;

                    &[aria-expanded="true"] {
                        .more-icon>path {
                            stroke: $primary-color;
                            stroke-width: 3.5;
                        }
                    }

                    &::after {
                        display: none;
                    }
                }

                .dropdown-menu {
                    inset: auto auto 0px 40px !important;
                }
            }
        }
    }
}