.header {
    background-color: #ffffff;
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    height: 100vh;
    width: 244px;
    min-width: 244px;
    border-right: 1px solid $light-gray;
    font-family: $main-font;
    overflow: hidden;

    @media (max-width: 1565px) {
        @include closed-header;
    }

    @media (max-width: 520px) {
        @include mobile-header;
    }

    &.closed {
        @include closed-header;
    }

    &.hidden {
        display: none !important;
    }

    &:not(.authorized) {
        @include mobile-header;

        .logo-block {
            margin: 0 auto !important;

            .burger-menu {
                display: none !important;
            }
        }
    }

    .burger-exit {
        display: none;
        width: 65px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 15;

        button {
            background-color: rgba(217, 217, 217, .1);
            transition: ease all .2s;

            &:hover {
                background-color: rgba(217, 217, 217, .4);

                svg {
                    opacity: .7;
                }
            }

            svg {
                width: 23px;
                height: 23px;
                opacity: .3;
                fill: $light-gray;
                transition: ease all .2s;
            }
        }
    }

    .logo-block {
        padding-top: 45px;
        padding-left: 15px;

        .logo-container {
            width: fit-content;
        }

        .burger-menu {
            display: none;
            align-self: center;

            button:hover {
                background-color: $super-light-gray;
            }
        }

        .logo-text {
            p {
                display: flex;
                align-items: center;
                color: #000;
                text-decoration: none;
                font-family: 'Russo One', sans-serif;
            }

            p:first-child {
                font-size: 28px;
                height: 28px;
                letter-spacing: 6px;
            }

            p:last-child {
                font-size: 16px;
                margin-top: 5px;
                height: 19px;
            }
        }
    }

    .list-group {
        border: none;
        margin-top: 35px;

        .list-group-item {
            height: 56px;
            border: none;
            padding: 0;
            margin: 0;
            border-radius: 0;
            cursor: pointer;
            display: flex;
            padding-left: 21px;
            align-items: center;
            justify-content: flex-start;

            &.active {
                background-color: $light-purple !important;
            }

            &:hover {
                background-color: $light-purple;
            }

            p {
                color: $dark-gray;
                font-weight: 500;
                font-size: 16px;
                padding-left: 16px;
            }

            img {
                @include unselectable;
            }

            &.more-link {
                margin-top: auto;
                margin-bottom: 35px;

                button {
                    background-color: transparent;

                    &[aria-expanded="true"] {
                        .more-icon>path {
                            stroke: $primary-color;
                            stroke-width: 3.5;
                        }
                    }

                    &::after {
                        display: none;
                    }
                }

                .dropdown-menu {
                    inset: auto auto 0px 40px !important;
                }
            }
        }
    }

    &.compacted {
        // margin-right: 350px;
        transition: ease all .4s;
        @include closed-header;
    }
}

.nav-block {
    height: 100vh;
    width: 350px;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #fff;
    border-right: 1px solid $light-gray;
    z-index: 90;

    left: 69px;
    animation-name: searchFadeInDesktop;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    &>div:first-child {
        display: flex;
        flex-direction: column;
    }

    @keyframes searchFadeInDesktop {
        0% {
            left: -100%;
        }

        100% {
            left: 69px;
        }
    }

    @keyframes searchFadeInMobile {
        0% {
            left: -100%;
        }

        100% {
            left: 0
        }
    }

    @media (max-width: 520px) {
        width: calc(100% - 65px);
        left: 0;
        z-index: 110;
        animation-name: searchFadeInMobile;
    }
}

.search-block {

    &__header {
        padding: 0 20px 10px 20px !important;

        border-bottom: 1px solid $light-gray;
    }

    &__input-container {
        display: flex;
        flex-direction: column;
        position: relative;

        .form-text {
            font-size: 12px;
        }
    }

    &__icon {
        color: $light-gray;
        position: absolute;
        left: 10px;
        top: 15px;
    }

    &__input {
        height: 40px;
        color: $dark-gray;
        border-color: $light-gray !important;

        &::placeholder {
            color: $light-gray;
        }

        &.is-invalid {
            background-image: none !important;
        }
    }

    &__clear {
        color: $light-gray;
        position: absolute;
        right: 10px;
        top: 13px;
        cursor: pointer;
    }

    &__results {
        flex: 0 !important;
    }

    &__result {
        border-bottom: 1px solid $light-gray;

        .col-1, .col-3 {
            width: fit-content;
            flex: 0;
            margin-right: 10px !important;
        }

        .col-3 {
            margin-right: 0 !important;

            button {
                border: none;
            }

            svg {
                color: $light-gray;
                transition: ease all .2s;
            }

            &:hover svg {
                color: $primary-color;
            }
        }

        .col-2 {
            flex: 1;

            p {
                font-family: $main-font;

                &:first-child {
                    font-size: 16px;
                    font-weight: 500;
                    color: #000;
                }

                &:last-child {
                    font-size: 14px;
                    color: $light-gray;
                }
            }
        }

        img {
            width: 45px;
            height: 45px;
        }
    }

    &__no-result .col {
        color: #C8C8C8;

        p {
            font-size: 36px;
            font-weight: 400;
            text-align: center;
            line-height: 100%;
        }
    }
}