.nav-block {
    height: 100svh;
    width: 350px;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #fff;
    border-right: 1px solid $light-gray;
    z-index: 90;

    left: 69px;
    animation-name: searchFadeInDesktop;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    &>div:first-child {
        display: flex;
        flex-direction: column;
    }

    @keyframes searchFadeInDesktop {
        0% {
            left: -100%;
        }

        100% {
            left: 69px;
        }
    }

    @keyframes searchFadeInMobile {
        0% {
            left: -100%;
        }

        100% {
            left: 0
        }
    }

    @media (max-width: 520px) {
        width: calc(100% - 65px);
        left: 0;
        z-index: 110;
        animation-name: searchFadeInMobile;
    }
}

.search-block {

    &__header {
        padding: 0 20px 10px 20px !important;
        border-bottom: 1px solid $light-gray;
    }

    &__input-container {
        display: flex;
        flex-direction: column;
        position: relative;

        .form-text {
            font-size: 12px;
        }
    }

    &__icon {
        color: $light-gray;
        position: absolute;
        left: 10px;
        top: 15px;
    }

    &__input {
        height: 40px;
        color: $dark-gray;
        border-color: $light-gray !important;

        &::placeholder {
            color: $light-gray;
        }

        &.is-invalid {
            background-image: none !important;
        }
    }

    &__clear {
        color: $light-gray;
        position: absolute;
        right: 10px;
        top: 13px;
        cursor: pointer;
    }

    &__results {
        flex: 0 !important;
    }

    &__result {
        border-bottom: 1px solid $super-light-gray;

        .col-1,
        .col-3 {
            width: fit-content;
            flex: 0;
            margin-right: 10px !important;
        }

        .col-3 {
            margin-right: 0 !important;

            button {
                border: none;
            }

            svg {
                color: $light-gray;
                transition: ease all .2s;
            }

            &:hover svg {
                color: $primary-color;
            }
        }

        .col-2 {
            flex: 1;
            font-family: $main-font;

            a {
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                color: #000;

                &:hover {
                    color: $primary-color;
                }
            }

            p {
                font-size: 14px;
                color: $light-gray;
            }
        }

        img {
            width: 45px;
            height: 45px;
            object-fit: cover;
        }
    }

    &__no-result {
        color: #C8C8C8;

        p {
            font-size: 36px;
            font-weight: 400;
            text-align: center;
            line-height: 100%;
        }
    }
}