.toast-notification {
    width: 255px !important;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;

    .toast-header h5 {
        font-size: 16px;
        font-weight: 500;
        color: $dark-gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .toast-body {
        font-size: 14px;
        font-weight: 400;
        color: $light-gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}