.chat-page {
    background-color: #EFEBFF;

    .chat-menu {
        width: 27.61%;
        height: 100vh;
        background-color: #fff;
        border-right: 1px solid #ccc;
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;

        .chat-menu-header {
            height: 80px;
            background-color: $primary-color;
            padding: 0 24px !important;

            .header-name {
                width: fit-content;
                flex: 0;
                font-family: $main-font;
                font-size: 32px;
                font-weight: 700;
                color: #fff;
                cursor: pointer;
            }

            .search-bar-container {
                height: 32px;

                .search-bar {
                    max-width: 215px;
                    position: relative;

                    &.active {
                        input {
                            padding-left: 15px;
                        }

                        .search-icon {
                            display: none;
                        }

                        .cross-icon {
                            display: block;
                        }
                    }
                }

                input {
                    width: 100%;
                    height: 35px;
                    border: 1.5px solid #fff;
                    border-radius: 10px;
                    padding-right: 32px;
                    padding-left: 40px;
                    font-family: $main-font;
                    font-size: 16px;
                    font-weight: 500;
                    color: #fff;
                    background-color: transparent;
                    transition: ease all .1s;

                    &::placeholder {
                        font-weight: 300;
                        color: #fff;
                    }

                    &:focus-visible {
                        outline: none;
                    }
                }

                .search-icon {
                    position: absolute;
                    left: 15px;
                }

                .cross-icon {
                    width: 8px;
                    height: 8px;
                    display: none;
                    position: absolute;
                    right: 15px;
                }
            }

            .create-chat {
                width: fit-content;
                flex: 0;

                button {
                    border: none;
                    background: transparent;
                    padding: 0;

                    &:focus-visible {
                        outline: none;
                    }
                }

                svg {
                    &.new-icon {
                        width: 29px;
                        height: 29px;
                    }

                    &.cross-icon {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
        }

        .chat-types {
            height: 58px;
            padding: 0 25px !important;
            gap: 15px;
            border-bottom: 1px solid #8f8f8f25;

            .chat-type {
                height: 28px;
                background-color: #F0F0FF;
                border-radius: 15px;
                flex: 0;
                cursor: pointer;

                &.active {
                    background-color: #D5D5FF;

                    &>p {
                        font-weight: 600;
                    }
                }

                p {
                    width: fit-content !important;
                    padding: 3px 20px;
                    font-family: $main-font;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px;
                }
            }
        }

        .chat-preview {
            padding: 13px 14px !important;
            border-bottom: 1px solid #8f8f8f25;
            margin: 0 !important;

            &>* {
                font-family: $main-font;
            }

            &:hover {
                background-color: #e5e5e5;
            }

            .chat-avatar {
                width: fit-content;
                flex: 0 !important;

                img {
                    position: relative;

                    &.online::after {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: #00ff00;
                        bottom: 0;
                        right: 0;
                    }

                    &.offline::after {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: #fff;
                        border: 1px solid #b2b2b2;
                        bottom: 0;
                        right: 0;
                    }
                }
            }

            .chat-info {
                flex: auto;

                .chat-name {
                    font-weight: 600;
                    font-size: 18px;

                    span {
                        color: #8F8F8F;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }

                .last-message {
                    width: calc(100% - 60px);
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 16px;
                    font-weight: 500;
                }
            }

        }

        .new-chat {
            font-family: $main-font;
            flex: 1;

            input.chat-name {
                width: 250px;
                height: 34px;
                outline: none;
                border: none;
                position: relative;
                font-weight: 600;
                color: #373737;
                border-bottom: 1px solid #8f8f8f;
                transition: ease all .1s;

                &::placeholder {
                    color: #8f8f8f;
                    font-weight: 500;
                }

                &:focus-visible {
                    border-color: #373737;
                }
            }

            .search-friend input {
                border-left: 0;
                border-right: 0;
                border-color: #8f8f8f25;
                font-weight: 600;
                color: #373737;
                transition: ease all .1s;

                &::placeholder {
                    color: #8f8f8f;
                    font-weight: 500;
                }

                &:focus-visible {
                    outline: none;
                    border-color: #8f8f8f50;
                }
            }

            .friend-list {
                .friend-container {
                    cursor: pointer;
                    border-radius: 0;
                    background-color: transparent;
                    transition: ease all .1s;

                    &:hover {
                        background-color: #f5f5f5;
                    }
                }

                .friend-name {
                    font-weight: 500;
                    font-size: 18px;
                    color: #000;
                }
            }

            .create-chat-footer {
                max-height: 83px;
                background-color: #E3E3E3;

                button {
                    height: 40px;
                    font-family: $secondary-font;
                    font-weight: 400;
                    font-size: 16px;

                    &.btn-light {
                        background-color: transparent;
                        border: none;
                        color: #8F8F8F;
                    }

                    &.btn-primary {
                        background-color: #5D6BE4;
                        padding: 0 26px;
                        border-radius: 7px;
                    }
                }
            }
        }
    }

    .chat-box {
        width: 72.39%;
        height: 100vh;
        flex: 1;

        &.non-selected {
            display: flex;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            p {
                font-family: $main-font;
                color: #fff;
                font-size: 20px;
                font-weight: 400;
                background-color: #ffffff50;
                border-radius: 10px;
                padding: 9px 36px;
                cursor: pointer;

                // Make text non selectable
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
            }
        }

        .chat-header {
            height: 80px;
            display: flex;
            align-items: center;
            padding: 12.5px 14px !important;
            border-bottom: 1px solid #ccc;
            background-color: #fff;
            font-family: $main-font;

            .chat-avatar {
                flex: 0;
            }

            .chat-name {
                width: fit-content;
                font-weight: 600;
                font-size: 18px;
            }

            span {
                font-size: 16px;
                font-weight: 500;
                color: #8F8F8F;
            }

            .user-activity {
                display: flex;
                gap: 7px;
                align-items: center;

                .network-icon {
                    width: 14px;
                    height: 14px;
                    margin-bottom: 1px;
                }
            }

            span,
            p {
                width: fit-content;
            }
        }

        .messages-list {
            position: relative;
            overflow-y: auto;
            flex: 1;
            margin-right: 0;

            .date-separator {
                width: fit-content;
                margin: 0 auto;
                font-family: $main-font;
                font-size: 16px;
                color: #5B5B5B;
                font-weight: 500;

                background-color: #ffffff70;
                border: 1px solid #8f8f8f0d;
                padding: 5px 66px;
                border-radius: 100px;
            }

            .announcement {
                font-family: $main-font;
                font-size: 16px;
                color: $dark-gray;
                font-weight: 500;
            }

            .message {
                flex-wrap: wrap;
                position: relative;

                font-family: $main-font;
                color: $dark-gray;
                font-weight: 500;
                font-size: 16px;

                &.own-message {
                    justify-content: flex-start;
                    flex-direction: row-reverse;

                    .message-content {
                        background-color: #E7DFFF;
                    }

                    .message-content-container {
                        flex-direction: row-reverse;
                    }

                    .message-time-container {
                        margin-left: 0 !important;
                        margin-right: 14px !important;
                    }
                }

                &.other-message {
                    justify-content: flex-start;

                    .sender-avatar img {
                        margin-right: 12px;
                    }

                    .message-content {
                        background-color: #fff;
                    }

                    .message-time-container {
                        margin-left: 14px !important;
                    }

                    .sender-avatar {
                        flex-direction: row-reverse;
                    }

                    .message-series {
                        margin-left: 47px;
                    }
                }

                .sender-name .nav-link {
                    color: $primary-color !important;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 16px;
                }

                .message-content-container {
                    max-width: 70%;
                }

                .message-content {
                    padding: 10px 14px;
                    border-radius: 5px;
                    border: 1px solid #8f8f8f25;

                    display: flex;
                    flex-wrap: wrap;
                    word-break: break-all;

                    img {
                        height: auto;
                        border-radius: 5px;
                    }

                    &:has(>img) {
                        padding: 0;
                        border: none;
                    }

                    &:has(>span) {
                        &:has(>img) {
                            padding: 10px 14px;

                            img {
                                margin: 5px 0;
                            }
                        }
                    }
                }

                .message-time-container {
                    display: flex;
                    align-items: flex-end;

                    .message-time {
                        font-size: 12px;
                        color: #b2b2b2;
                    }
                }

                &:hover {
                    .message-time-container {
                        visibility: visible !important;
                    }
                }
            }
        }

        .message-input {
            margin-right: 0;
            position: relative;
            background-color: #fff;
            border-top: 1px solid #ccc;

            .icons-container {
                width: fit-content;

                .message-icon {
                    width: 35px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    padding: 0;

                    svg {
                        &>path {
                            fill: #ccc;
                        }

                        &:hover {
                            &>path {
                                fill: #b2b2b2;
                            }
                        }

                        &.active {
                            &>path {
                                fill: #b2b2b2;
                            }
                        }
                    }
                }
            }

            .input-container {
                height: 60px;
                width: auto;
                flex-grow: 1;

                input[type="text"] {
                    border: none;
                    // border-top: 1px solid #ccc;
                    border-radius: 0;
                    padding-left: 25px;
                    transition: ease all .3s;

                    &::placeholder {
                        color: #b2b2b2;
                    }

                    &:focus-visible {
                        outline: none;
                        padding-left: 25px;
                        // border-color: $primary-color;

                        &~.length-counter {
                            top: -11px;
                            left: 15px;
                            font-size: 14px;
                            padding: 0 5px;
                            border-radius: 50%;
                            background: rgb(244, 244, 244);
                            background: linear-gradient(180deg, rgba(244, 244, 244, 0) 48%, rgba(255, 255, 255, 1) 49%);
                        }
                    }
                }

                .length-counter {
                    font-size: 12px;
                    color: #ccc;
                    position: absolute;
                    left: 5px;
                    top: 2px;
                    transition: ease all .3s;

                    // Make text non selectable
                    user-select: none;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -o-user-select: none;

                    &.over-limit {
                        color: #ff0000;
                    }
                }
            }

            .btn-send {
                width: 60px;
                height: 60px;
                border-radius: 0;
                border-bottom: 0;
            }
        }
    }
}

.emoji-picker {
    position: absolute;
    right: 0;
    bottom: 60px;

    &.closed {
        display: none;
    }
}


.gif-picker {
    position: absolute;
    right: 0;
    bottom: 60px;

    &.closed {
        display: none;
    }

    .gpr-category-list {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

.cross-icon {
    cursor: pointer;

    path {
        fill: #fff;
    }
}

.rounded-checkbox-label {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #8F8F8F;
    cursor: pointer;

    &::after {
        content: '🗸';
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $primary-color;
        color: #fff;
        font-size: 11px;
        font-weight: 600;
        padding-top: 2px;
        display: none;
    }

    &.checked {
        border: 1px solid $primary-color;

        &::after {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.upload-modal {
    font-family: $main-font;

    .modal-content {
        width: 600px;
    }

    .modal-title {
        font-weight: 600;
        font-size: 18px;
        color: #373737;
    }

    .modal-body {
        p {
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: #373737;
        }

        button {
            height: 29px;
            background-color: #5D6BE4;
            font-family: $secondary-font;
            font-size: 14px;
            font-weight: 300;
        }
    }

    .modal-footer {
        font-size: 12px;
        font-weight: 400;
        color: #373737;
    }
}