.chat-page {
    background-color: #EFEBFF;

    .chat-list {
        width: 27.61%;
        height: 100vh;
        background-color: #fff;
        border-right: 1px solid #ccc;
        flex: 0 0 auto;

        .chat-types {
            height: 58px;
            padding: 0 25px !important;
            gap: 15px;

            .chat-type {
                height: 28px;
                background-color: #F0F0FF;
                border-radius: 15px;
                flex: 0;
                cursor: pointer;

                &.active {
                    background-color: #D5D5FF;

                    &>p {
                        font-weight: 600;
                    }
                }

                p {
                    width: fit-content !important;
                    padding: 3px 20px;
                    font-family: $main-font;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px;
                }
            }
        }

        .chat-container {
            padding: 13px 14px !important;
            border-top: 1px solid #8f8f8f25;
            border-bottom: 1px solid #8f8f8f25;
            cursor: pointer;

            &>* {
                font-family: $main-font;
            }

            &:hover {
                background-color: #e5e5e5;
            }

            .chat-avatar {
                width: fit-content;
                flex: 0 !important;

                img {
                    position: relative;

                    &.online::after {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: #00ff00;
                        bottom: 0;
                        right: 0;
                    }

                    &.offline::after {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: #fff;
                        border: 1px solid #b2b2b2;
                        bottom: 0;
                        right: 0;
                    }
                }
            }

            .chat-info {
                flex: auto;

                .chat-name {
                    font-weight: 600;
                    font-size: 18px;

                    span {
                        color: #8F8F8F;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }

                .last-message {
                    width: calc(100% - 60px);
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
    }

    .chat-box {
        width: 72.39%;
        height: 100vh;
        flex: 1;

        &.non-selected {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: #b2b2b2;
        }

        .chat-header {
            height: 80px;
            display: flex;
            align-items: center;
            padding: 12.5px 14px !important;
            border-bottom: 1px solid #ccc;
            background-color: #fff;

            .chat-avatar {
                flex: 0;
            }

            .chat-name {
                width: fit-content;
                font-weight: 600;
                font-size: 18px;
            }

            span {
                width: fit-content;
            }
        }

        .messages-list {
            position: relative;
            overflow-y: auto;
            flex: 1;
            margin-right: 0;

            .message {
                flex-wrap: wrap;
                position: relative;

                &.own-message {
                    justify-content: flex-start;
                    flex-direction: row-reverse;

                    &>img {
                        margin-left: 10px;
                    }

                    .message-content {
                        background-color: #E7DFFF;
                    }

                    .message-content-container {
                        flex-direction: row-reverse;
                    }

                    .message-time-container {
                        margin-left: 0 !important;
                        margin-right: 14px !important;
                    }

                    .sender-info {
                        flex-direction: row-reverse;
                    }
                }

                &.other-message {
                    justify-content: flex-start;

                    &>img {
                        margin-right: 10px;
                    }

                    .message-content {
                        background-color: #fff;
                    }

                    .message-time-container {
                        margin-left: 14px !important;
                    }

                    .sender-avatar {
                        flex-direction: row-reverse;
                    }
                }

                .sender-info {
                    &>img {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                    }

                    .nav-link {
                        color: $primary-color;
                        text-decoration: underline;
                    }
                }

                .message-content-container,
                .sender-avatar {
                    max-width: 70%;
                }

                .message-content {
                    padding: 10px 14px;
                    border-radius: 5px;
                    border: 1px solid #8f8f8f25;

                    display: flex;
                    flex-wrap: wrap;
                    word-break: break-all;

                    img {
                        height: auto;
                        border-radius: 5px;
                    }

                    &:has(>img) {
                        padding: 0;
                        border: none;
                    }

                    &:has(>span) {
                        &:has(>img) {
                            padding: 10px 14px;

                            img {
                                margin: 5px 0;
                            }
                        }
                    }
                }

                .message-time-container {
                    display: flex;
                    align-items: flex-end;

                    .message-time {
                        font-size: 12px;
                        color: #b2b2b2;
                    }
                }
            }

        }

        .message-input {
            margin-right: 0;
            position: relative;
            background-color: #fff;
            border-top: 1px solid #ccc;

            .icons-container {
                width: fit-content;

                .message-icon {
                    width: 35px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    padding: 0;

                    svg {
                        &>path {
                            fill: #ccc;
                        }

                        &:hover {
                            &>path {
                                fill: #b2b2b2;
                            }
                        }

                        &.active {
                            &>path {
                                fill: #b2b2b2;
                            }
                        }
                    }
                }
            }

            .input-container {
                height: 60px;
                width: auto;
                flex-grow: 1;

                input[type="text"] {
                    border: none;
                    // border-top: 1px solid #ccc;
                    border-radius: 0;
                    padding-left: 25px;
                    transition: ease all .3s;

                    &::placeholder {
                        color: #b2b2b2;
                    }

                    &:focus-visible {
                        outline: none;
                        padding-left: 25px;
                        // border-color: $primary-color;

                        &~.length-counter {
                            top: -11px;
                            left: 15px;
                            font-size: 14px;
                            padding: 0 5px;
                            border-radius: 50%;
                            background: rgb(244, 244, 244);
                            background: linear-gradient(180deg, rgba(244, 244, 244, 0) 48%, rgba(255, 255, 255, 1) 49%);
                        }
                    }
                }

                .length-counter {
                    font-size: 12px;
                    color: #ccc;
                    position: absolute;
                    left: 5px;
                    top: 2px;
                    transition: ease all .3s;

                    // Make text non selectable
                    user-select: none;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -o-user-select: none;

                    &.over-limit {
                        color: #ff0000;
                    }
                }
            }

            .btn-send {
                width: 60px;
                height: 60px;
                border-radius: 0;
                border-bottom: 0;
            }
        }
    }
}

.emoji-picker {
    position: absolute;
    right: 0;
    bottom: 60px;

    &.closed {
        display: none;
    }
}


.gif-picker {
    position: absolute;
    right: 0;
    bottom: 60px;

    &.closed {
        display: none;
    }

    .gpr-category-list {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}