.chat-page {
    width: 100%;
    background-color: #f7f7f7;

    .alert-notification {
        width: 220px;
        height: fit-content;
        border-radius: 10px;
        box-shadow: 0 0 5px #ccc;
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        z-index: 1000;
        cursor: pointer;
        margin-bottom: 0;

        transition: opacity .3s ease-in-out;
        opacity: 1;

        hr {
            width: 100%;
            margin: 3px 0;
            border: 0;
            border-top: 1px solid #ccc;
        }

        &:hover {
            background-color: #f7f7f7;
        }

        .btn-close {
            width: 8px;
            height: 8px;
            padding: 0;
            top: 13px;
            right: 10px;
        }

        .alert-heading {
            width: 100%;
            height: fit-content;
            font-weight: 400;
            margin-bottom: 5px;
            font-size: 14px;
            position: relative;
            padding-right: 20px;
            color: #434343;
        }

        .alert-message {
            width: 100%;
            margin-top: 5px;

            div {
                margin-left: 10px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }

            h5 {
                width: 100%;
                padding-bottom: 2px;
                font-size: 14px;
                font-weight: 500;
                color: #4f4f4f;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            span {
                width: 100%;
                font-size: 13px;
                font-weight: 400;
                color: #848484;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .chat-list {
        // width: 300px;
        width: 25%;
        height: 100vh;
        background-color: #f4f4f4;
        border-right: 1px solid #ccc;
        flex: 0 0 auto;

        .chat-container {
            padding: 10px 15px;
            cursor: pointer;

            &:hover {
                background-color: #e5e5e5;
            }

            .chat-avatar {
                position: relative;
                margin-right: 12px;

                img {
                    position: relative;

                    &.online::after {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: #00ff00;
                        bottom: 0;
                        right: 0;
                    }

                    &.offline::after {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: #fff;
                        border: 1px solid #b2b2b2;
                        bottom: 0;
                        right: 0;
                    }
                }
            }

            .chat-info {
                width: calc(100% - 62px);

                .chat-name {
                    font-weight: 600;

                    span {
                        font-size: 14px;
                        font-weight: 400;
                        color: #b2b2b2;
                    }
                }

                .last-message {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .chat-box {
        width: 75%;
        height: 100vh;
        padding-right: 0;
        flex: 1;

        &.non-selected {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: #b2b2b2;
        }

        .chat-header {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            margin-right: 0;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }

            .chat-name {
                font-weight: 600;
            }
        }

        .messages-list {
            position: relative;
            overflow-y: auto;
            flex: 1;
            margin-right: 0;

            .message {
                flex-wrap: nowrap;
                position: relative;

                &.own-message {
                    justify-content: flex-start;
                    flex-direction: row-reverse;

                    img {
                        margin-left: 10px;
                    }

                    .message-content {
                        background-color: #dcf8c6;
                    }

                    .message-time-container {
                        margin-left: 0 !important;
                        margin-right: 14px !important;
                    }
                }

                &.other-message {
                    justify-content: flex-start;

                    img {
                        margin-right: 10px;
                    }

                    .message-content {
                        background-color: #fff;
                    }

                    .message-time-container {
                        margin-left: 14px !important;
                    }
                }

                img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                }

                .message-content {
                    padding: 10px;
                    border-radius: 10px;
                    box-shadow: 0 0 5px #ccc;
                    max-width: 70%;
                    word-wrap: break-word;
                    position: relative;
                }

                .message-time-container {
                    display: flex;
                    align-items: flex-end;

                    .message-time {
                        font-size: 12px;
                        color: #b2b2b2;
                    }
                }
            }

        }

        .message-input {
            margin-right: 0;
            position: relative;

            .length-counter {
                width: fit-content;
                font-size: 14px;
                color: #b2b2b2;
                height: 100%;
                position: absolute;
                right: 60px;
                top: 0;

                &.over-limit {
                    color: #ff0000;
                }
            }

            input[type="text"] {
                border: 1px solid #ccc;
                border-left: 0;
                border-right: 0;
                height: 60px;
                width: calc(100% - 60px);
                border-radius: 0;
                padding-left: 25px;
                padding-right: 85px;

                &::placeholder {
                    color: #b2b2b2;
                }

                &:focus-visible {
                    outline: none;
                }
            }

            button {
                width: 60px;
                height: 60px;
                border-radius: 0;
            }
        }
    }
}