.sign-up {
    font-family: $secondary-font;
    margin: 0 auto !important;
    height: calc(100vh - 75px);

    @include form-container;

    &__form {

        input.invalid,
        select.invalid {
            box-shadow: 0 0 0 .15rem #e6464625 !important;
        }

        .form-text.error-message {
            color: $red;
            font-size: 13px;
            font-weight: 400;
        }

        .form-floating {
            width: 100%;

            label::after {
                background-color: transparent !important;
            }

            textarea {
                min-height: 120px;
            }
        }

        .input-group {
            span {
                font-family: $secondary-font;
            }

            input {
                font-family: $third-font;
                font-weight: 400;
                padding: 1rem .75rem;

                &::placeholder {
                    font-weight: 300;
                }
            }
        }

        input,
        select,
        label,
        textarea {
            font-family: $third-font;
            font-size: 14px;
            font-weight: 400;
            color: $dark-gray;
            line-height: 25px;

            &::placeholder {
                color: $light-gray;
                user-select: none;
            }
        }

        label {
            color: $light-gray;
            font-weight: 300;
            user-select: none;
        }

        input,
        select,
        textarea {
            width: 100%;
            border: none;
            background-color: $light-purple;
            border-radius: 5px;

            &:focus {
                box-shadow: 0 0 .25rem rgb(61, 0, 255, .25);
                background-color: #f0f0ff9d;
            }
        }

        select {
            color: $dark-gray;
            font-weight: 300;
            text-overflow: ellipsis;

            option {
                &:not(.default) {
                    color: $dark-gray;
                }
            }
        }

        .form-text {
            font-family: $third-font;
            font-weight: 300;
            font-size: 13px;
            color: #000;
        }

        .buttons-group button {
            height: 50px;
            border-radius: 7px;
            flex-grow: 1;

            span {
                color: #fff;
                font-family: $secondary-font;
                font-size: 16px;
                font-weight: 400;
            }

            &.btn-primary {
                background-color: $primary-button;
            }

            &.btn-secondary {
                background-color: $secondary-btn;
            }
        }

        .avatar-container {
            cursor: pointer;

            .mid-column {
                width: fit-content;
            }

            .left-column,
            .right-column {
                height: fit-content;
            }

            .avatar-decoration {
                font-family: $third-font;
                font-weight: 300;
                font-size: 14px;
                color: $dark-gray;
                text-align: center;
                user-select: none;

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $dark-gray;
                    margin-top: 5px;
                }
            }
        }
    }
}