@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");
#root {
  display: flex;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 !important;
}

.wrapper {
  width: 1324px;
  margin: 0 auto;
}
.wrapper:has(.chat-page) {
  width: 100%;
}

.container {
  margin: 0 !important;
  padding: 0 !important;
}

.row, .col {
  margin: auto 0 !important;
  padding: 0 !important;
}

.default-header {
  background-color: #ffffff;
  position: relative;
  left: 0;
  top: 0;
  height: 100vh;
  width: 244px;
  border-right: 1px solid #8f8f8f;
  font-family: "Manrope", sans-serif;
}
.default-header.closed {
  width: 69px;
}
.default-header .logo-container {
  margin-top: 45px !important;
}
.default-header .list-group {
  border: none;
  margin-top: 35px;
}
.default-header .list-group .list-group-item {
  height: 56px;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.default-header .list-group .list-group-item:hover {
  background-color: #f4f4f4;
}
.default-header .list-group .list-group-item.dropdown-container {
  margin-top: auto;
  margin-bottom: 35px;
}
.default-header .list-group .list-group-item.dropdown-container button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.default-header .list-group .list-group-item.dropdown-container button[aria-expanded=true] .more-icon > path {
  stroke: #3D00FF;
  stroke-width: 3.5;
}
.default-header .list-group .list-group-item.dropdown-container button::after {
  display: none;
}
.default-header .list-group .list-group-item span {
  display: block;
}

.alert-notification {
  width: 255px !important;
  box-shadow: 0 0 5px #ccc;
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  padding: 10px !important;
  z-index: 1000;
  cursor: pointer;
  margin-bottom: 0 !important;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
.alert-notification hr {
  width: 100%;
  margin: 3px 0;
  margin-top: 7px;
  border: 0;
  border-top: 1px solid #b8b8b8;
}
.alert-notification:hover {
  background-color: #f7f7f7;
}
.alert-notification .btn-close {
  padding: 5px !important;
  top: 13.5px !important;
  right: 10px !important;
  width: 5px;
  height: 5px;
}
.alert-notification .alert-heading {
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  padding-right: 20px;
  color: #434343;
}
.alert-notification .alert-message > div {
  max-width: calc(100% - 40px);
}
.alert-notification .alert-message h5 {
  width: 100%;
  padding-bottom: 2px;
  font-size: 14px;
  font-weight: 500;
  color: #4f4f4f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.alert-notification .alert-message span {
  font-size: 13px;
  font-weight: 400;
  color: #848484;
  padding-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-page {
  background-color: #EFEBFF;
}
.chat-page .chat-list {
  width: 27.61%;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #ccc;
  flex: 0 0 auto;
}
.chat-page .chat-list .chat-types {
  height: 58px;
  padding: 0 25px !important;
  gap: 15px;
}
.chat-page .chat-list .chat-types .chat-type {
  height: 28px;
  background-color: #F0F0FF;
  border-radius: 15px;
  flex: 0;
  cursor: pointer;
}
.chat-page .chat-list .chat-types .chat-type.active {
  background-color: #D5D5FF;
}
.chat-page .chat-list .chat-types .chat-type.active > p {
  font-weight: 600;
}
.chat-page .chat-list .chat-types .chat-type p {
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding: 3px 20px;
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
.chat-page .chat-list .chat-container {
  padding: 13px 14px !important;
  border-top: 1px solid rgba(143, 143, 143, 0.1450980392);
  border-bottom: 1px solid rgba(143, 143, 143, 0.1450980392);
  cursor: pointer;
}
.chat-page .chat-list .chat-container > * {
  font-family: "Manrope", sans-serif;
}
.chat-page .chat-list .chat-container:hover {
  background-color: #e5e5e5;
}
.chat-page .chat-list .chat-container .chat-avatar {
  width: -moz-fit-content;
  width: fit-content;
  flex: 0 !important;
}
.chat-page .chat-list .chat-container .chat-avatar img {
  position: relative;
}
.chat-page .chat-list .chat-container .chat-avatar img.online::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ff00;
  bottom: 0;
  right: 0;
}
.chat-page .chat-list .chat-container .chat-avatar img.offline::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #b2b2b2;
  bottom: 0;
  right: 0;
}
.chat-page .chat-list .chat-container .chat-info {
  flex: auto;
}
.chat-page .chat-list .chat-container .chat-info .chat-name {
  font-weight: 600;
  font-size: 18px;
}
.chat-page .chat-list .chat-container .chat-info .chat-name span {
  color: #8F8F8F;
  font-size: 16px;
  font-weight: 500;
}
.chat-page .chat-list .chat-container .chat-info .last-message {
  width: calc(100% - 60px);
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
}
.chat-page .chat-box {
  width: 72.39%;
  height: 100vh;
  flex: 1;
}
.chat-page .chat-box.non-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #b2b2b2;
}
.chat-page .chat-box .chat-header {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 12.5px 14px !important;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.chat-page .chat-box .chat-header .chat-avatar {
  flex: 0;
}
.chat-page .chat-box .chat-header .chat-name {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  font-size: 18px;
}
.chat-page .chat-box .chat-header span {
  width: -moz-fit-content;
  width: fit-content;
}
.chat-page .chat-box .messages-list {
  position: relative;
  overflow-y: auto;
  flex: 1;
  margin-right: 0;
}
.chat-page .chat-box .messages-list .message {
  flex-wrap: wrap;
  position: relative;
}
.chat-page .chat-box .messages-list .message.own-message {
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.chat-page .chat-box .messages-list .message.own-message > img {
  margin-left: 10px;
}
.chat-page .chat-box .messages-list .message.own-message .message-content {
  background-color: #E7DFFF;
}
.chat-page .chat-box .messages-list .message.own-message .message-content-container {
  flex-direction: row-reverse;
}
.chat-page .chat-box .messages-list .message.own-message .message-time-container {
  margin-left: 0 !important;
  margin-right: 14px !important;
}
.chat-page .chat-box .messages-list .message.own-message .sender-info {
  flex-direction: row-reverse;
}
.chat-page .chat-box .messages-list .message.other-message {
  justify-content: flex-start;
}
.chat-page .chat-box .messages-list .message.other-message > img {
  margin-right: 10px;
}
.chat-page .chat-box .messages-list .message.other-message .message-content {
  background-color: #fff;
}
.chat-page .chat-box .messages-list .message.other-message .message-time-container {
  margin-left: 14px !important;
}
.chat-page .chat-box .messages-list .message.other-message .sender-avatar {
  flex-direction: row-reverse;
}
.chat-page .chat-box .messages-list .message .sender-info > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.chat-page .chat-box .messages-list .message .sender-info .nav-link {
  color: #3D00FF;
  text-decoration: underline;
}
.chat-page .chat-box .messages-list .message .message-content-container,
.chat-page .chat-box .messages-list .message .sender-avatar {
  max-width: 70%;
}
.chat-page .chat-box .messages-list .message .message-content {
  padding: 10px 14px;
  border-radius: 5px;
  border: 1px solid rgba(143, 143, 143, 0.1450980392);
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
}
.chat-page .chat-box .messages-list .message .message-content img {
  height: auto;
  border-radius: 5px;
}
.chat-page .chat-box .messages-list .message .message-content:has(> img) {
  padding: 0;
  border: none;
}
.chat-page .chat-box .messages-list .message .message-content:has(> span):has(> img) {
  padding: 10px 14px;
}
.chat-page .chat-box .messages-list .message .message-content:has(> span):has(> img) img {
  margin: 5px 0;
}
.chat-page .chat-box .messages-list .message .message-time-container {
  display: flex;
  align-items: flex-end;
}
.chat-page .chat-box .messages-list .message .message-time-container .message-time {
  font-size: 12px;
  color: #b2b2b2;
}
.chat-page .chat-box .message-input {
  margin-right: 0;
  position: relative;
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.chat-page .chat-box .message-input .icons-container {
  width: -moz-fit-content;
  width: fit-content;
}
.chat-page .chat-box .message-input .icons-container .message-icon {
  width: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}
.chat-page .chat-box .message-input .icons-container .message-icon svg > path {
  fill: #ccc;
}
.chat-page .chat-box .message-input .icons-container .message-icon svg:hover > path {
  fill: #b2b2b2;
}
.chat-page .chat-box .message-input .icons-container .message-icon svg.active > path {
  fill: #b2b2b2;
}
.chat-page .chat-box .message-input .input-container {
  height: 60px;
  width: auto;
  flex-grow: 1;
}
.chat-page .chat-box .message-input .input-container input[type=text] {
  border: none;
  border-radius: 0;
  padding-left: 25px;
  transition: ease all 0.3s;
}
.chat-page .chat-box .message-input .input-container input[type=text]::-moz-placeholder {
  color: #b2b2b2;
}
.chat-page .chat-box .message-input .input-container input[type=text]::placeholder {
  color: #b2b2b2;
}
.chat-page .chat-box .message-input .input-container input[type=text]:focus-visible {
  outline: none;
  padding-left: 25px;
}
.chat-page .chat-box .message-input .input-container input[type=text]:focus-visible ~ .length-counter {
  top: -11px;
  left: 15px;
  font-size: 14px;
  padding: 0 5px;
  border-radius: 50%;
  background: rgb(244, 244, 244);
  background: linear-gradient(180deg, rgba(244, 244, 244, 0) 48%, rgb(255, 255, 255) 49%);
}
.chat-page .chat-box .message-input .input-container .length-counter {
  font-size: 12px;
  color: #ccc;
  position: absolute;
  left: 5px;
  top: 2px;
  transition: ease all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.chat-page .chat-box .message-input .input-container .length-counter.over-limit {
  color: #ff0000;
}
.chat-page .chat-box .message-input .btn-send {
  width: 60px;
  height: 60px;
  border-radius: 0;
  border-bottom: 0;
}

.emoji-picker {
  position: absolute;
  right: 0;
  bottom: 60px;
}
.emoji-picker.closed {
  display: none;
}

.gif-picker {
  position: absolute;
  right: 0;
  bottom: 60px;
}
.gif-picker.closed {
  display: none;
}
.gif-picker .gpr-category-list {
  grid-template-columns: repeat(2, 1fr) !important;
}/*# sourceMappingURL=styles.css.map */