@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");
#root {
  display: flex;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 !important;
}

.default-header {
  background-color: #ffffff;
  position: relative;
  left: 0;
  top: 0;
  height: 100vh;
  width: 244px;
  border-right: 1px solid #8f8f8f;
  font-family: "Manrope", sans-serif;
}
.default-header.closed {
  width: 69px;
}
.default-header .logo-container {
  margin-top: 45px;
}
.default-header .list-group {
  border: none;
  margin-top: 35px;
}
.default-header .list-group .list-group-item {
  height: 56px;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.default-header .list-group .list-group-item:hover {
  background-color: #f4f4f4;
}
.default-header .list-group .list-group-item.dropdown-container {
  margin-top: auto;
  margin-bottom: 35px;
}
.default-header .list-group .list-group-item.dropdown-container button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.default-header .list-group .list-group-item.dropdown-container button[aria-expanded=true] .more-icon > path {
  stroke: #3D00FF;
  stroke-width: 3.5;
}
.default-header .list-group .list-group-item.dropdown-container button::after {
  display: none;
}
.default-header .list-group .list-group-item span {
  display: block;
}

.chat-page {
  width: 100%;
  background-color: #f7f7f7;
}
.chat-page .alert-notification {
  width: 220px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  z-index: 1000;
  cursor: pointer;
  margin-bottom: 0;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
.chat-page .alert-notification hr {
  width: 100%;
  margin: 3px 0;
  border: 0;
  border-top: 1px solid #ccc;
}
.chat-page .alert-notification:hover {
  background-color: #f7f7f7;
}
.chat-page .alert-notification .btn-close {
  width: 8px;
  height: 8px;
  padding: 0;
  top: 13px;
  right: 10px;
}
.chat-page .alert-notification .alert-heading {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 14px;
  position: relative;
  padding-right: 20px;
  color: #434343;
}
.chat-page .alert-notification .alert-message {
  width: 100%;
  margin-top: 5px;
}
.chat-page .alert-notification .alert-message div {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.chat-page .alert-notification .alert-message h5 {
  width: 100%;
  padding-bottom: 2px;
  font-size: 14px;
  font-weight: 500;
  color: #4f4f4f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat-page .alert-notification .alert-message span {
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  color: #848484;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat-page .chat-list {
  width: 25%;
  height: 100vh;
  background-color: #f4f4f4;
  border-right: 1px solid #ccc;
  flex: 0 0 auto;
}
.chat-page .chat-list .chat-container {
  padding: 10px 15px;
  cursor: pointer;
}
.chat-page .chat-list .chat-container:hover {
  background-color: #e5e5e5;
}
.chat-page .chat-list .chat-container .chat-avatar {
  position: relative;
  margin-right: 12px;
}
.chat-page .chat-list .chat-container .chat-avatar img {
  position: relative;
}
.chat-page .chat-list .chat-container .chat-avatar img.online::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ff00;
  bottom: 0;
  right: 0;
}
.chat-page .chat-list .chat-container .chat-avatar img.offline::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #b2b2b2;
  bottom: 0;
  right: 0;
}
.chat-page .chat-list .chat-container .chat-info {
  width: calc(100% - 62px);
}
.chat-page .chat-list .chat-container .chat-info .chat-name {
  font-weight: 600;
}
.chat-page .chat-list .chat-container .chat-info .chat-name span {
  font-size: 14px;
  font-weight: 400;
  color: #b2b2b2;
}
.chat-page .chat-list .chat-container .chat-info .last-message {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat-page .chat-box {
  width: 75%;
  height: 100vh;
  padding-right: 0;
  flex: 1;
}
.chat-page .chat-box.non-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #b2b2b2;
}
.chat-page .chat-box .chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-right: 0;
}
.chat-page .chat-box .chat-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.chat-page .chat-box .chat-header .chat-name {
  font-weight: 600;
}
.chat-page .chat-box .messages-list {
  position: relative;
  overflow-y: auto;
  flex: 1;
  margin-right: 0;
}
.chat-page .chat-box .messages-list .message {
  flex-wrap: nowrap;
  position: relative;
}
.chat-page .chat-box .messages-list .message.own-message {
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.chat-page .chat-box .messages-list .message.own-message > img {
  margin-left: 10px;
}
.chat-page .chat-box .messages-list .message.own-message .message-content {
  background-color: #dcf8c6;
}
.chat-page .chat-box .messages-list .message.own-message .message-time-container {
  margin-left: 0 !important;
  margin-right: 14px !important;
}
.chat-page .chat-box .messages-list .message.other-message {
  justify-content: flex-start;
}
.chat-page .chat-box .messages-list .message.other-message > img {
  margin-right: 10px;
}
.chat-page .chat-box .messages-list .message.other-message .message-content {
  background-color: #fff;
}
.chat-page .chat-box .messages-list .message.other-message .message-time-container {
  margin-left: 14px !important;
}
.chat-page .chat-box .messages-list .message > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.chat-page .chat-box .messages-list .message .message-content {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  max-width: 70%;
  word-wrap: break-word;
  position: relative;
}
.chat-page .chat-box .messages-list .message .message-content p > img {
  margin-top: 5px;
  border-radius: 3px;
}
.chat-page .chat-box .messages-list .message .message-time-container {
  display: flex;
  align-items: flex-end;
}
.chat-page .chat-box .messages-list .message .message-time-container .message-time {
  font-size: 12px;
  color: #b2b2b2;
}
.chat-page .chat-box .message-input {
  margin-right: 0;
  position: relative;
}
.chat-page .chat-box .message-input .icons-container {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  right: 70px;
  top: 0;
  padding: 0;
}
.chat-page .chat-box .message-input .icons-container .message-icon {
  width: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}
.chat-page .chat-box .message-input .icons-container .message-icon svg > path {
  fill: #ccc;
}
.chat-page .chat-box .message-input .icons-container .message-icon svg:hover > path {
  fill: #b2b2b2;
}
.chat-page .chat-box .message-input .icons-container .message-icon svg.active > path {
  fill: #b2b2b2;
}
.chat-page .chat-box .message-input .input-container {
  height: 60px;
  width: calc(100% - 60px);
  padding: 0;
}
.chat-page .chat-box .message-input .input-container input[type=text] {
  border: none;
  border-top: 1px solid #ccc;
  border-radius: 0;
  padding-left: 25px;
  position: relative;
  transition: ease all 0.3s;
}
.chat-page .chat-box .message-input .input-container input[type=text]::-moz-placeholder {
  color: #b2b2b2;
}
.chat-page .chat-box .message-input .input-container input[type=text]::placeholder {
  color: #b2b2b2;
}
.chat-page .chat-box .message-input .input-container input[type=text]:focus-visible {
  outline: none;
  padding-left: 25px;
  border-color: #3D00FF;
}
.chat-page .chat-box .message-input .input-container input[type=text]:focus-visible ~ .length-counter {
  top: -11px;
  left: 15px;
  font-size: 14px;
  padding: 0 5px;
  border-radius: 50%;
  background: rgb(244, 244, 244);
  background: linear-gradient(180deg, rgba(244, 244, 244, 0) 48%, rgb(255, 255, 255) 49%);
}
.chat-page .chat-box .message-input .input-container .length-counter {
  font-size: 12px;
  color: #ccc;
  position: absolute;
  left: 5px;
  top: 2px;
  transition: ease all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.chat-page .chat-box .message-input .input-container .length-counter.over-limit {
  color: #ff0000;
}
.chat-page .chat-box .message-input button.btn-send {
  width: 60px;
  height: 60px;
  border-radius: 0;
  border-bottom: 0;
}

.emoji-picker {
  position: absolute;
  right: 0;
  bottom: 60px;
}
.emoji-picker.closed {
  display: none;
}

.gif-picker {
  position: absolute;
  right: 0;
  bottom: 60px;
}
.gif-picker.closed {
  display: none;
}
.gif-picker .gpr-category-list {
  grid-template-columns: repeat(2, 1fr) !important;
}
.gif-picker .gpr-gif-list-column {
  grid-template-columns: 1fr 1fr !important;
}/*# sourceMappingURL=styles.css.map */