@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");
#root {
  display: flex;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 !important;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #E8ECEE;
}

.container {
  margin: 0 !important;
  padding: 0 !important;
}

.row, .col {
  margin: auto 0 !important;
  padding: 0 !important;
}

.nav-link {
  color: #8AB4F8 !important;
}
.nav-link:hover {
  color: #488eff !important;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 2s ease-in;
}

.default-header {
  background-color: #ffffff;
  position: sticky;
  left: 0;
  top: 0;
  height: 100vh;
  width: 244px;
  border-right: 1px solid #8f8f8f;
  font-family: "Manrope", sans-serif;
}
.default-header.closed {
  width: 69px;
}
.default-header.closed .list-group-item p,
.default-header.closed .dropdown-container p,
.default-header.closed .logo-text {
  display: none;
}
.default-header .logo-container {
  margin-top: 45px;
  margin-left: 13px;
}
.default-header .logo-container .logo-text p {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  font-family: "Russo One", sans-serif;
}
.default-header .logo-container .logo-text p:first-child {
  font-size: 28px;
  height: 28px;
  letter-spacing: 6px;
}
.default-header .logo-container .logo-text p:last-child {
  font-size: 16px;
  margin-top: 5px;
  height: 19px;
}
.default-header .list-group {
  border: none;
  margin-top: 35px;
}
.default-header .list-group .list-group-item {
  height: 56px;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  padding-left: 21px;
  align-items: center;
  justify-content: flex-start;
}
.default-header .list-group .list-group-item:hover {
  background-color: #f4f4f4;
}
.default-header .list-group .list-group-item.dropdown-container {
  margin-top: auto;
  margin-bottom: 35px;
}
.default-header .list-group .list-group-item.dropdown-container button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.default-header .list-group .list-group-item.dropdown-container button[aria-expanded=true] .more-icon > path {
  stroke: #3D00FF;
  stroke-width: 3.5;
}
.default-header .list-group .list-group-item.dropdown-container button::after {
  display: none;
}
.default-header .list-group .list-group-item p,
.default-header .list-group .dropdown-container p {
  font-weight: 500;
  font-size: 16px;
  padding-left: 16px;
}

.alert-notification {
  width: 255px !important;
  box-shadow: 0 0 5px #ccc;
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  padding: 10px !important;
  z-index: 1000;
  cursor: pointer;
  margin-bottom: 0 !important;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
.alert-notification hr {
  width: 100%;
  margin: 3px 0;
  margin-top: 7px;
  border: 0;
  border-top: 1px solid #b8b8b8;
}
.alert-notification:hover {
  background-color: #f7f7f7;
}
.alert-notification .btn-close {
  padding: 5px !important;
  top: 13.5px !important;
  right: 10px !important;
  width: 5px;
  height: 5px;
}
.alert-notification .alert-heading {
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  padding-right: 20px;
  color: #434343;
}
.alert-notification .alert-message > div {
  max-width: calc(100% - 40px);
}
.alert-notification .alert-message h5 {
  width: 100%;
  padding-bottom: 2px;
  font-size: 14px;
  font-weight: 500;
  color: #4f4f4f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.alert-notification .alert-message span {
  font-size: 13px;
  font-weight: 400;
  color: #848484;
  padding-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-page {
  background-color: #EFEBFF;
}
.chat-page .chat-menu {
  width: 27.61%;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #ccc;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.chat-page .chat-menu .chat-menu-header {
  height: 80px;
  background-color: #3D00FF;
  padding: 0 24px !important;
}
.chat-page .chat-menu .chat-menu-header .header-name {
  width: -moz-fit-content;
  width: fit-content;
  flex: 0;
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
.chat-page .chat-menu .chat-menu-header .search-bar-container {
  height: 32px;
}
.chat-page .chat-menu .chat-menu-header .search-bar-container .search-bar {
  max-width: 215px;
  position: relative;
}
.chat-page .chat-menu .chat-menu-header .search-bar-container .search-bar.active input {
  padding-left: 15px;
}
.chat-page .chat-menu .chat-menu-header .search-bar-container .search-bar.active .search-icon {
  display: none;
}
.chat-page .chat-menu .chat-menu-header .search-bar-container .search-bar.active .cross-icon {
  display: block;
}
.chat-page .chat-menu .chat-menu-header .search-bar-container input {
  width: 100%;
  height: 35px;
  border: 1.5px solid #fff;
  border-radius: 10px;
  padding-right: 32px;
  padding-left: 40px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: transparent;
  transition: ease all 0.1s;
}
.chat-page .chat-menu .chat-menu-header .search-bar-container input::-moz-placeholder {
  font-weight: 300;
  color: #fff;
}
.chat-page .chat-menu .chat-menu-header .search-bar-container input::placeholder {
  font-weight: 300;
  color: #fff;
}
.chat-page .chat-menu .chat-menu-header .search-bar-container input:focus-visible {
  outline: none;
}
.chat-page .chat-menu .chat-menu-header .search-bar-container .search-icon {
  position: absolute;
  left: 15px;
}
.chat-page .chat-menu .chat-menu-header .search-bar-container .cross-icon {
  width: 8px;
  height: 8px;
  display: none;
  position: absolute;
  right: 15px;
}
.chat-page .chat-menu .chat-menu-header .create-chat {
  width: -moz-fit-content;
  width: fit-content;
  flex: 0;
}
.chat-page .chat-menu .chat-menu-header .create-chat button {
  border: none;
  background: transparent;
  padding: 0;
}
.chat-page .chat-menu .chat-menu-header .create-chat button:focus-visible {
  outline: none;
}
.chat-page .chat-menu .chat-menu-header .create-chat svg.new-icon {
  width: 29px;
  height: 29px;
}
.chat-page .chat-menu .chat-menu-header .create-chat svg.cross-icon {
  width: 22px;
  height: 22px;
}
.chat-page .chat-menu .chat-types {
  height: 58px;
  padding: 0 25px !important;
  gap: 15px;
  border-bottom: 1px solid rgba(143, 143, 143, 0.1450980392);
}
.chat-page .chat-menu .chat-types .chat-type {
  height: 28px;
  background-color: #F0F0FF;
  border-radius: 15px;
  flex: 0;
  cursor: pointer;
}
.chat-page .chat-menu .chat-types .chat-type.active {
  background-color: #D5D5FF;
}
.chat-page .chat-menu .chat-types .chat-type.active > p {
  font-weight: 600;
}
.chat-page .chat-menu .chat-types .chat-type p {
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding: 3px 20px;
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
.chat-page .chat-menu .chat-preview {
  padding: 13px 14px !important;
  border-bottom: 1px solid rgba(143, 143, 143, 0.1450980392);
  margin: 0 !important;
}
.chat-page .chat-menu .chat-preview > * {
  font-family: "Manrope", sans-serif;
}
.chat-page .chat-menu .chat-preview:hover {
  background-color: #e5e5e5;
}
.chat-page .chat-menu .chat-preview .chat-avatar {
  width: -moz-fit-content;
  width: fit-content;
  flex: 0 !important;
}
.chat-page .chat-menu .chat-preview .chat-avatar img {
  position: relative;
}
.chat-page .chat-menu .chat-preview .chat-avatar img.online::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ff00;
  bottom: 0;
  right: 0;
}
.chat-page .chat-menu .chat-preview .chat-avatar img.offline::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #b2b2b2;
  bottom: 0;
  right: 0;
}
.chat-page .chat-menu .chat-preview .chat-info {
  flex: auto;
}
.chat-page .chat-menu .chat-preview .chat-info .chat-name {
  font-weight: 600;
  font-size: 18px;
}
.chat-page .chat-menu .chat-preview .chat-info .chat-name span {
  color: #8F8F8F;
  font-size: 16px;
  font-weight: 500;
}
.chat-page .chat-menu .chat-preview .chat-info .last-message {
  width: calc(100% - 60px);
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
}
.chat-page .chat-menu .new-chat {
  font-family: "Manrope", sans-serif;
  flex: 1;
}
.chat-page .chat-menu .new-chat input.chat-name {
  width: 250px;
  height: 34px;
  outline: none;
  border: none;
  position: relative;
  font-weight: 600;
  color: #373737;
  border-bottom: 1px solid #8f8f8f;
  transition: ease all 0.1s;
}
.chat-page .chat-menu .new-chat input.chat-name::-moz-placeholder {
  color: #8f8f8f;
  font-weight: 500;
}
.chat-page .chat-menu .new-chat input.chat-name::placeholder {
  color: #8f8f8f;
  font-weight: 500;
}
.chat-page .chat-menu .new-chat input.chat-name:focus-visible {
  border-color: #373737;
}
.chat-page .chat-menu .new-chat .search-friend input {
  border-left: 0;
  border-right: 0;
  border-color: rgba(143, 143, 143, 0.1450980392);
  font-weight: 600;
  color: #373737;
  transition: ease all 0.1s;
}
.chat-page .chat-menu .new-chat .search-friend input::-moz-placeholder {
  color: #8f8f8f;
  font-weight: 500;
}
.chat-page .chat-menu .new-chat .search-friend input::placeholder {
  color: #8f8f8f;
  font-weight: 500;
}
.chat-page .chat-menu .new-chat .search-friend input:focus-visible {
  outline: none;
  border-color: rgba(143, 143, 143, 0.3137254902);
}
.chat-page .chat-menu .new-chat .friend-list .friend-container {
  cursor: pointer;
  border-radius: 0;
  background-color: transparent;
  transition: ease all 0.1s;
}
.chat-page .chat-menu .new-chat .friend-list .friend-container:hover {
  background-color: #f5f5f5;
}
.chat-page .chat-menu .new-chat .friend-list .friend-name {
  font-weight: 500;
  font-size: 18px;
  color: #000;
}
.chat-page .chat-menu .new-chat .create-chat-footer {
  max-height: 83px;
  background-color: #E3E3E3;
}
.chat-page .chat-menu .new-chat .create-chat-footer button {
  height: 40px;
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.chat-page .chat-menu .new-chat .create-chat-footer button.btn-light {
  background-color: transparent;
  border: none;
  color: #8F8F8F;
}
.chat-page .chat-menu .new-chat .create-chat-footer button.btn-primary {
  background-color: #5D6BE4;
  padding: 0 26px;
  border-radius: 7px;
}
.chat-page .chat-box {
  width: 72.39%;
  height: 100vh;
  flex: 1;
}
.chat-page .chat-box.non-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.chat-page .chat-box.non-selected p {
  font-family: "Manrope", sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.3137254902);
  border-radius: 10px;
  padding: 9px 36px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.chat-page .chat-box .chat-header {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 12.5px 14px !important;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  font-family: "Manrope", sans-serif;
}
.chat-page .chat-box .chat-header .chat-avatar {
  flex: 0;
}
.chat-page .chat-box .chat-header .chat-name {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  font-size: 18px;
}
.chat-page .chat-box .chat-header span {
  font-size: 16px;
  font-weight: 500;
  color: #8F8F8F;
}
.chat-page .chat-box .chat-header .user-activity {
  display: flex;
  gap: 7px;
  align-items: center;
}
.chat-page .chat-box .chat-header .user-activity .network-icon {
  width: 14px;
  height: 14px;
  margin-bottom: 1px;
}
.chat-page .chat-box .chat-header span,
.chat-page .chat-box .chat-header p {
  width: -moz-fit-content;
  width: fit-content;
}
.chat-page .chat-box .messages-list {
  position: relative;
  overflow-y: auto;
  flex: 1;
  margin-right: 0;
}
.chat-page .chat-box .messages-list .date-separator {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #5B5B5B;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.4392156863);
  border: 1px solid rgba(143, 143, 143, 0.0509803922);
  padding: 5px 66px;
  border-radius: 100px;
}
.chat-page .chat-box .messages-list .announcement {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #373737;
  font-weight: 500;
}
.chat-page .chat-box .messages-list .message {
  flex-wrap: wrap;
  position: relative;
}
.chat-page .chat-box .messages-list .message.own-message {
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.chat-page .chat-box .messages-list .message.own-message > img {
  margin-left: 10px;
}
.chat-page .chat-box .messages-list .message.own-message .message-content {
  background-color: #E7DFFF;
}
.chat-page .chat-box .messages-list .message.own-message .message-content-container {
  flex-direction: row-reverse;
}
.chat-page .chat-box .messages-list .message.own-message .message-time-container {
  margin-left: 0 !important;
  margin-right: 14px !important;
}
.chat-page .chat-box .messages-list .message.own-message .sender-info {
  flex-direction: row-reverse;
}
.chat-page .chat-box .messages-list .message.other-message {
  justify-content: flex-start;
}
.chat-page .chat-box .messages-list .message.other-message > img {
  margin-right: 10px;
}
.chat-page .chat-box .messages-list .message.other-message .message-content {
  background-color: #fff;
}
.chat-page .chat-box .messages-list .message.other-message .message-time-container {
  margin-left: 14px !important;
}
.chat-page .chat-box .messages-list .message.other-message .sender-avatar {
  flex-direction: row-reverse;
}
.chat-page .chat-box .messages-list .message .sender-info > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.chat-page .chat-box .messages-list .message .sender-info .nav-link {
  color: #3D00FF;
  text-decoration: underline;
}
.chat-page .chat-box .messages-list .message .message-content-container,
.chat-page .chat-box .messages-list .message .sender-avatar {
  max-width: 70%;
}
.chat-page .chat-box .messages-list .message .message-content {
  padding: 10px 14px;
  border-radius: 5px;
  border: 1px solid rgba(143, 143, 143, 0.1450980392);
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
}
.chat-page .chat-box .messages-list .message .message-content img {
  height: auto;
  border-radius: 5px;
}
.chat-page .chat-box .messages-list .message .message-content:has(> img) {
  padding: 0;
  border: none;
}
.chat-page .chat-box .messages-list .message .message-content:has(> span):has(> img) {
  padding: 10px 14px;
}
.chat-page .chat-box .messages-list .message .message-content:has(> span):has(> img) img {
  margin: 5px 0;
}
.chat-page .chat-box .messages-list .message .message-time-container {
  display: flex;
  align-items: flex-end;
}
.chat-page .chat-box .messages-list .message .message-time-container .message-time {
  font-size: 12px;
  color: #b2b2b2;
}
.chat-page .chat-box .messages-list .message:hover .message-time-container {
  visibility: visible !important;
}
.chat-page .chat-box .message-input {
  margin-right: 0;
  position: relative;
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.chat-page .chat-box .message-input .icons-container {
  width: -moz-fit-content;
  width: fit-content;
}
.chat-page .chat-box .message-input .icons-container .message-icon {
  width: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}
.chat-page .chat-box .message-input .icons-container .message-icon svg > path {
  fill: #ccc;
}
.chat-page .chat-box .message-input .icons-container .message-icon svg:hover > path {
  fill: #b2b2b2;
}
.chat-page .chat-box .message-input .icons-container .message-icon svg.active > path {
  fill: #b2b2b2;
}
.chat-page .chat-box .message-input .input-container {
  height: 60px;
  width: auto;
  flex-grow: 1;
}
.chat-page .chat-box .message-input .input-container input[type=text] {
  border: none;
  border-radius: 0;
  padding-left: 25px;
  transition: ease all 0.3s;
}
.chat-page .chat-box .message-input .input-container input[type=text]::-moz-placeholder {
  color: #b2b2b2;
}
.chat-page .chat-box .message-input .input-container input[type=text]::placeholder {
  color: #b2b2b2;
}
.chat-page .chat-box .message-input .input-container input[type=text]:focus-visible {
  outline: none;
  padding-left: 25px;
}
.chat-page .chat-box .message-input .input-container input[type=text]:focus-visible ~ .length-counter {
  top: -11px;
  left: 15px;
  font-size: 14px;
  padding: 0 5px;
  border-radius: 50%;
  background: rgb(244, 244, 244);
  background: linear-gradient(180deg, rgba(244, 244, 244, 0) 48%, rgb(255, 255, 255) 49%);
}
.chat-page .chat-box .message-input .input-container .length-counter {
  font-size: 12px;
  color: #ccc;
  position: absolute;
  left: 5px;
  top: 2px;
  transition: ease all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.chat-page .chat-box .message-input .input-container .length-counter.over-limit {
  color: #ff0000;
}
.chat-page .chat-box .message-input .btn-send {
  width: 60px;
  height: 60px;
  border-radius: 0;
  border-bottom: 0;
}

.emoji-picker {
  position: absolute;
  right: 0;
  bottom: 60px;
}
.emoji-picker.closed {
  display: none;
}

.gif-picker {
  position: absolute;
  right: 0;
  bottom: 60px;
}
.gif-picker.closed {
  display: none;
}
.gif-picker .gpr-category-list {
  grid-template-columns: repeat(2, 1fr) !important;
}

.cross-icon {
  cursor: pointer;
}
.cross-icon path {
  fill: #fff;
}

.rounded-checkbox-label {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #8F8F8F;
  cursor: pointer;
}
.rounded-checkbox-label::after {
  content: "🗸";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #3D00FF;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding-top: 2px;
  display: none;
}
.rounded-checkbox-label.checked {
  border: 1px solid #3D00FF;
}
.rounded-checkbox-label.checked::after {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-modal {
  font-family: "Manrope", sans-serif;
}
.upload-modal .modal-content {
  width: 600px;
}
.upload-modal .modal-title {
  font-weight: 600;
  font-size: 18px;
  color: #373737;
}
.upload-modal .modal-body p {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #373737;
}
.upload-modal .modal-body button {
  height: 29px;
  background-color: #5D6BE4;
  font-family: "Mitr", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.upload-modal .modal-footer {
  font-size: 12px;
  font-weight: 400;
  color: #373737;
}

.wrapper-profile {
  height: -moz-fit-content;
  height: fit-content;
}

.profile-banner {
  background-color: #00B3DB;
  height: 389px;
}

.profile-header-list-container {
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-header-list {
  margin-left: 384px;
  width: 624px;
  background-color: white;
  list-style: none;
  display: flex;
  border: unset !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-header-list li {
  font-family: "Lexend";
  width: 115px;
  height: 64px;
  padding: auto 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #646464 !important;
  font-weight: 500;
  transition-duration: 0.1s !important;
}
.profile-header-list li:hover {
  cursor: pointer;
  background-color: #f4f4f4;
  border: unset !important;
}
.profile-header-list li:active {
  cursor: pointer;
  background-color: #c1c1c1;
  border: unset !important;
}
.profile-header-list li button {
  border-top: unset !important;
  border-left: unset !important;
  border-right: unset !important;
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  border-radius: unset !important;
  align-items: center !important;
  border-bottom-width: 5px !important;
  color: #646464 !important;
}
.profile-header-list li button p {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.profile-header-list li button:hover {
  border-bottom-width: 5px !important;
  color: rgb(72, 72, 72) !important;
  border-bottom-color: rgb(72, 72, 72) !important;
}
.profile-header-list li button.active {
  color: black !important;
  background-color: unset !important;
  border-bottom-color: black !important;
}
.profile-header-list li button:disabled {
  color: #f4f4f4 !important;
  background-color: rgb(214, 214, 214) !important;
}
.profile-header-list li p {
  margin-top: -5px !important;
}
.profile-header-list li b {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.profile-btn {
  width: 48px !important;
  height: 48px !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  --bs-btn-bg: rgba(255, 255, 255, 0) !important;
  --bs-btn-hover-bg: rgba(255, 255, 255, 0.37) !important;
  --bs-btn-active-bg: rgba(42, 42, 42, 0.37) !important;
  border: none !important;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: unset !important;
}

.profile-content {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
}

.profile-avatar {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 280px !important;
  max-width: -moz-fit-content !important;
  max-width: fit-content !important;
  height: 280px !important;
  border-radius: 50% 50% !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
  --bs-btn-bg: rgba(255, 255, 255, 0) !important;
  --bs-btn-hover-bg: rgba(255, 255, 255, 0.37) !important;
  --bs-btn-active-bg: rgba(42, 42, 42, 0.37) !important;
  cursor: pointer !important;
  outline: 6px solid white;
  outline-offset: -6px;
}

.profile-info-container {
  margin-left: 54px !important;
  margin-top: -236px !important;
  max-width: 310px !important;
  width: 310px !important;
}
.profile-info-container div {
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
}
.profile-info-container hr {
  margin-top: 5px !important;
}
.profile-info-container .profile-info .user-name {
  padding: unset !important;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 32px;
  font-weight: 700;
}
.profile-info-container .profile-info .nickname {
  color: #8F8F8F;
  font-size: 18px;
  font-weight: 400;
}
.profile-info-container .profile-info .points {
  color: #3D00FF;
  font-size: 18px;
}
.profile-info-container .profile-bio p {
  color: #373737;
}
.profile-info-container .profile-bio button {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  margin-top: 10px;
  background-color: #929292;
  color: #fff;
}
.profile-info-container .profile-links {
  margin-top: 10px !important;
  color: #757575;
}
.profile-info-container .profile-links span {
  color: black;
}
.profile-info-container .profile-links p {
  font-weight: 500;
}
.profile-info-container .profile-links a {
  color: #757575;
  transition-duration: 0.1s !important;
}
.profile-info-container .profile-links a:hover {
  color: #9f9e9e !important;
}

.photos-videos-block {
  gap: 10px;
  flex: 0 0 auto !important;
  flex-wrap: wrap;
}

.photos-videos-block div {
  min-width: 70px;
  min-height: 70px;
  border-radius: 3px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photos-videos-block div img {
  width: 100%;
  height: 100%;
}

.main-block-profile {
  width: 624px !important;
  margin-left: 20px !important;
  margin-top: 20px !important;
}

.main-block-profile {
  width: 624px !important;
  margin-left: 20px !important;
  margin-top: 20px !important;
}
.main-block-profile .post-block {
  padding: 16px !important;
  display: block !important;
  background-color: white;
  margin-bottom: 16px !important;
  border-radius: 5px;
  position: relative !important;
}
.main-block-profile .post-block .post-menu-icon {
  top: 15px;
  right: 19px;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.post-user {
  display: flex !important;
  gap: 10px;
  margin-bottom: 16px !important;
  justify-content: flex-start;
  align-items: center;
  color: #8F8F8F;
  font-weight: 400;
  flex-direction: row !important;
}
.post-user p a {
  text-decoration: unset !important;
  color: #8F8F8F;
}
.post-user p,
.post-user span {
  padding: unset !important;
}

.post-user-img {
  min-width: 60px;
  padding: unset;
  min-height: 60px;
  width: 60px;
  height: 60px;
}
.post-user-img img {
  padding: unset !important;
  width: 100%;
  height: 100%;
}

.post-main-block {
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 0px !important;
  color: #373737 !important;
  font-weight: 600;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
.post-main-block p {
  margin-bottom: 10px !important;
}
.post-main-block div {
  display: flex !important;
  gap: 10px;
}

.reactions-block {
  margin-top: 16px;
  width: 195px !important;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  gap: 22px;
}
.reactions-block div {
  width: -moz-fit-content !important;
  width: fit-content !important;
  display: flex;
  justify-content: flex-start;
}
.reactions-block div p {
  margin-left: 6px !important;
  color: #6D6D6D;
}

.like-button {
  cursor: pointer;
  padding: unset !important;
  transition: transform 0.2s ease-in-out;
}

.like-button:hover {
  stroke: #3D00FF;
  fill: none;
}

.like-button:active {
  animation: pulse 0.3s ease-in-out;
  fill: #3D00FF;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.post-message {
  gap: 10px;
}
.post-message .post-user-input {
  font-size: 18px;
}
.post-message .post-user-input p {
  color: #000;
  font-weight: 800;
  width: -moz-fit-content;
  width: fit-content;
  padding: unset;
}
.post-message .post-user-input p span {
  color: #8F8F8F;
  font-weight: 400;
}

.right-block-profile {
  width: 350px !important;
  flex-direction: column;
  position: sticky;
  top: 20px;
  align-items: unset !important;
  margin-top: 20px !important;
  margin-left: 20px !important;
  gap: 10px;
}
.right-block-profile .profile-aside {
  background-color: #fff;
  border-radius: 5px;
}
.right-block-profile .profile-aside .aside-header {
  font-size: 20px !important;
  font-weight: 800 !important;
  margin-bottom: 16px !important;
}
.right-block-profile .profile-aside .aside-header span {
  color: #8F8F8F;
  font-weight: 500;
}
.right-block-profile .profile-aside .user-container p a {
  font-weight: 400;
  text-decoration: unset !important;
  color: #8F8F8F;
}
.right-block-profile .profile-aside .user-container p,
.right-block-profile .profile-aside .user-container span {
  margin: unset !important;
  font-size: 14px;
  margin-left: 0px !important;
  padding: unset !important;
}
.right-block-profile .profile-aside .user-img img,
.right-block-profile .profile-aside .friend-img img {
  padding: unset;
}
.right-block-profile .profile-aside .user-img {
  min-width: 45px;
}
.right-block-profile .profile-aside .friend-img {
  min-width: 60px;
}
.right-block-profile .profile-aside .user-info .name {
  color: #000;
  font-weight: 800;
}
.right-block-profile .profile-aside .user-info .nickname {
  color: #8F8F8F;
}
.right-block-profile .profile-aside button {
  font-family: "Manrope", sans-serif;
  padding: unset;
  font-size: 14px !important;
  font-weight: bold;
  width: 100px;
  min-width: 100px;
  height: 25px;
  font-weight: 600 !important;
  --bs-btn-color: #fff;
  --bs-btn-bg: #3D00FF;
  --bs-btn-border-color: #3D00FF;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2e00c4;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #3D00FF;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #3D00FF;
}

.show-more-like {
  font-size: 12px !important;
  color: #3D00FF;
  font-weight: 600 !important;
  margin-bottom: unset !important;
}
.show-more-like a {
  text-decoration: unset;
  color: unset;
}
.show-more-like :hover {
  color: #1a006f;
}

.friends-online,
.friends {
  gap: 26px;
}
.friends-online.col, .friends-online .col,
.friends.col,
.friends .col {
  flex: 0 !important;
}

.friend-container {
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.friend-container img {
  padding: unset;
}
.friend-container p {
  font-size: 12px;
  color: #8F8F8F;
  font-weight: 800;
  padding: unset;
  margin-top: 5px !important;
}/*# sourceMappingURL=styles.css.map */